.ratakanan{ text-align: right;
}
.ratatengah{text-align: center;}
body{background-color: aqua;}
.ratatengah{text-align: center;}
.ratatengah{text-align: center;}

h1 {
    font-family: 'Comic Sans MS';
    color:blue
}
        #miaw {
            color: white;
        }
        #aw {
            color: orange;
        }